*{
    margin:0;
    padding:0;
    font-family:calibri;
    box-sizing:border-box;
    font-family:outfit;
}
html{
    text-rendering:optimizeLegibility;
    scroll-behavior:smooth;
}
body{
    background-color:hsl(212, 45%, 89%);
}
img{
    width:100%;
}

.QR-code{
    max-width:1440px;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}
.QR-code-content{
    width:20%;
    border-radius:20px;
    padding:10px;
    text-align:center;
    background:hsl(0, 0%, 100%);
}
.QR-img img{
    border-radius:20px;
    padding:5px;
}
.QR-text h1{
    font-size:20px;
    color:hsl(218, 44%, 22%);
    padding:10px;
    font-weight:700;
}
.QR-text p{
    font-size:15px;
    font-weight:400;
    color:hsl(220, 15%, 55%);
    margin-bottom:20px;
}

@media screen and (max-width:375px){
    .QR-code{
        margin:10px;
    }
    .QR-code-content{
        width:70%;
        height:80vh;
        margin:10px;
    }
    .QR-img img{
        border-radius:10px;
    }
    .QR-text h1{
        font-size:18px;
    }
    .QR-text p{
        font-size:15px;
        padding:10px;
    }
}
